h4 {
    color: darkgreen;
    margin-left: 500px;
    font-size: 16pt;
    font-style: italic;
    font-style: oblique;
    font-family: fantasy;
    }
h3 {
    color: maroon;
    margin-left: 500px;
    font-size: 16pt;
    font-style: italic;
    font-style: oblique;
    font-family: inherit;
    margin-top: 5%
    }
.redp{
    color: aqua;

}
.fszp{
font-size: 250%;

}
.secondDiv li a{
    text-decoration: none;

}
.secondDiv li a:hover{
    color: red;

}
.wrapper{
 outline: 1px solid red;
 height: 400px;
 width: 800px;
 margin: 15px auto;
}