body{  
   background: aqua;
   background-image: url("../img/ava7patterns_pattern_1880.png");
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: cadetblue;  
   background-image: url("../img/ava7patterns_pattern_1880.png");
}

h1{
    display:flex;
    justify-content:center;
    align-items:center;
}

.cards__img:hover{
    color: red;
    font-weight: bold;
    
}
