body, *{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: cadetblue;    
    background: aqua;
    background-image: url("");
}
h1{
    display:flex;
    justify-content:center;
    align-items:center;
}
h1, h2, h3 {
    font-size: 24px;
    font-weight: 700;
}

.cards__img{
    color: grey;
}

.cards__img:hover{
    color: red;
    font-weight: bold;
    
}

.wrapper__main{
    width: 850px;
    margin: 0 auto;
}

.wrapper{
    outline: 1px solid red;
    height: 400px;
    width: 800px;
    margin: 15px auto;
}

.img__scrin{
    width: 100%;
}
